<header style="display: flex;">
	<div class="user">
  		<%= current_user.username %>
	</div>
	<form action="/logout" method="POST">
  		<button>Logout</button>
	</form> 
</header>
<section>
	<div class="container">
		<div>
			<div class="library">
				<h2><%= @book.title %></h2>
				<h3>by <%= @book.author %></h3>
				<div class="description">
					Description: <%= @book.description %>
				</div>
			</div>
			<div class="link">
				<form action="/edit-book/<%= @book.id %>" method="POST">
					<button>Edit Book</button>
				</form>	
				<form action="/review-book/<%= @book.id %>" method="POST">
					<button>Leave a Review</button>
				</form>
				<form action="/delete-book/<%= @book.id %>" method="POST">
					<button>Delete Book</button>
				</form>							
			</div>
			<div class="link">
				<p><a href="/add-book">Add more</a></p>
			</div>
			<div class="link">
				<p><a href="/books">Show all books</a></p>
			</div>
		</div>
	</div>
	<div class="container">
		<h2>Reviews</h2>
		<% if @reviews.any? %>
			<% @reviews.each do |review|%>>
				<div class="description">
					<%= User.find(review.user_id).username %> (<%= review.score %>/5) <br>
					<%= review.content %>
				</div>
			<% end %>
		<% else %>
			<div class="description">
				No reviews yet
			</div>
		<% end %>	
	</div>
</section>

				