<section>
	<div class="container flex-div">
		<div>
			<div class="library">
				<h2><%= @book.title %></h2>
				<h3>by <%= @book.author %></h3>
				<div class="description">
					Description: <%= @book.description %>
				</div>
			</div>
			<div class="link">
				<% if current_user == @book.user %>
					<form action="/edit-book/<%= @book.id %>" method="POST">
						<button>Edit Book</button>
					</form>
				<% end %>				
				<form action="/review-book/<%= @book.id %>" method="POST">
					<button>Leave a Review</button>
				</form>
				<% if current_user == @book.user %>				
					<form action="/delete-book/<%= @book.id %>" method="POST">
						<button>Delete Book</button>
					</form>
				<% end %>							
			</div>
			<div class="link">
				<p><a href="/add-book">Add more</a></p>
			</div>
			<div class="link">
				<p><a href="/books">Show all books</a></p>
			</div>
		</div>
	</div>
	<div class="container flex-div">
		<h2>Reviews</h2>
		<% if @reviews.any? %>
			<% @reviews.each do |review|%>
				<div class="description">
					<div class="left">
						<img src="<%= User.find(review.user_id).user_photo %>">
					</div>
					<div class="review_description">
						<%= User.find(review.user_id).username %> (<%= review.score %>/5) <br>
						<%= review.content %>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="description">
				No reviews yet
			</div>
		<% end %>	
	</div>
</section>

				